*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.container{
   width:90%;
   margin:auto;
}
body{
    background:linear-gradient(#606060, #000000);
    background-size:cover;
    min-height: 100vh;
    height: 100%;
    background-position: fixed;
}
.posts{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-item{
    width:27%;
    border:2px solid #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 1px 30px 0px #000;
    color:rgba(255, 255, 255, .4);
    margin:30px;
    padding:10px;     
    position: relative;
    text-align: center;
     /* Add the blur effect */
     background-color: rgba(255, 255, 255, 0.1);
     -webkit-backdrop-filter: blur(5px);
     backdrop-filter: blur(5px);
}

.post-item .card-body::after{ 
    content : '';    
    height: 100%;
    width:100%;
    z-index: -1;
    display: block;    
    filter: blur(2px);
}