*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

.container{
   width:90%;
   margin:auto;
}
.posts{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-item{
    width:27%;
    border:2px solid #f9f9f9;
    box-shadow: 1px 2px 2px 5px #f9f9f9;
    margin:30px;
    padding:10px;
    text-align: center;
}