.pagination{
    list-style: none;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:50px 0px;
}
.pagination li a{
    text-decoration: none;
    font-weight: bold;
    color:#fff;
    background:#000000;
    margin: 0px 3px;
    padding:10px;
}
.pagination li.active a{
    color:#000000;
    background:#c3c1c1;
}
.pagination li .fixed{
    background:#000000;
}
.pagination li:first-child .fixed{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.pagination li:last-child .fixed{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}